<div class="text-center">
    <img src="/resources/logo.png" alt="Logo ComplyHub" style="max-width:320px"/>
</div>


        {{#if error}}
        <div class="error alert alert-danger text-center mt-5" role="alert">
            {{error}}
        </div>
        {{/if}}


<div class="container my-2">
	<div class="row justify-content-center">
		<div class="col-md-6 col-lg-4">
			<div class="card shadow-sm">
				<div class="card-body">
                    <h1 class="text-center mb-4">ComplyHub</h1>
					{{!-- <h2 class="card-title text-center mb-4">Είσοδος</h2> --}}
					<form action="/login" method="POST" autocomplete="off">
                        <sl-input class="my-3" label="E-mail" name="email"></sl-input>
                        <sl-input class="my-3" label="Κωδικός πρόσβασης" type="password" name="password" password-toggle></sl-input>
						<div class="mt-4 text-end">
                            <sl-button variant="primary" type="submit" >Είσοδος </sl-button>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>